body{
    background-color: wheat;
    width: 100%;
    height: 100vh;
}
.logo{
    color: red;
    margin-top: 20px;
    margin-left: 40px;
}

.search button{
    margin-top: 15px;
    margin-left: 72%;
    width: 80px;
    height: 30px;
    font-size: 18px;
    border-radius: 25px;
    background-color: aqua;
}

.search input{
    width: 18%;
    height: 30px;
    background-color: transparent;
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 25px;
}

.h{
    margin-left: 80px;
    margin-top: 10px;
    position: absolute;
}

.main{
    width: 90%;
    height: 80%;
    background-color: aqua;
    margin-left: 60px;
    margin-top: 50px;
}